.MenuContent {
    &-logo {
        width: 100%;
        text-align: center;
        padding: 10px 0;

    }

    &-table {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 10px;
        padding: 20px 0;

        &-cell {
            padding: 10px 0;
            border-radius: 10px;
            // background-color: #F5F5F5;
            width: 100%;
            text-align: center;

            &_border {
                background-color: rgba(253, 255, 173, 0.62);

            }
        }
    }
}