.TableCell {
    &-cell {
        padding: 10px 0;
        border-radius: 10px;
        width: 100%;
        text-align: center;
        color: var(--text-primary);

        &_border {
            background-color: var(--background-table-cell);
        }
    }
}