.WinDrawMessage {
    display: flex;
    flex-flow: column nowrap;
    place-content: center center;
    align-items: center;

    width: 600px;
    height: 300px;

    background-size: 100% 100%;

    &_background {
        background: var(--win-background);
    }

    &-title {
        display: flex;
        flex-grow: 1;
        align-items: center;

        font-size: 32px;
        font-weight: 400;
        font-style: normal;
        line-height: normal;
        color: var(--text-primary);
        text-align: center;
    }

    &-user {
        padding: 5px;
    }
}

@media (width <=700px) {
    .WinDrawMessage {
        width: 100%;
        background-position: center;
        background-size: auto;
    }
}