.WinDrawMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column nowrap;
    width: 600px;
    height: 300px;
    background-size: 100% 100%;

    &-title {
        display: flex;

        align-items: center;
        flex-grow: 1;
        text-align: center;
        color: var(--text-primary);
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-user {
        padding: 5px;
    }
}

@media (max-width: 700px) {
    .WinDrawMessage {
        width: 100%;
        background-size: 100% 100%;
    }
}