.WinDrawMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column nowrap;
    width: 600px;
    height: 300px;

    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        color: var(--text-primary);
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-user {
        padding: 5px;
    }
}