.ShapesSetting {
    &-table {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-items: center;

        padding: 20px 0;
    }
}

@media (width <=700px) {
    .ShapesSetting {
        min-width: 250px;

        &-table {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}