.ShapesSetting {
    &-table {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        justify-items: center;

        padding: 20px 0;
    }
}

@media (width <=700px) {
    .ShapesSetting {
        min-width: 250px;


    }
}