%flex-container {
    display: flex;
    margin: 0 auto;
}

.MainPage {

    &-column {
        @extend %flex-container;
        flex-flow: column nowrap;
        height: 100%;
        overflow: auto;
    }

    &-row {
        @extend %flex-container;
        flex-flow: row nowrap;
        padding: 20px;
        gap: 15px
    }

    &-grow {
        flex-grow: 1;
        @extend %flex-container;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 25px;

    }

    &-player-title {
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }

    &-icon {
        height: 20px;
        width: 20px;

        svg {
            vertical-align: middle;
        }
    }
}

@media (max-width: 400px) {
    .MainPage {
        &-grow {
            gap: 0px;
            width: 100%;
            padding: 50px 0;
        }
    }
}