@import "../../styles/colors";

%flex-container {
    display: flex;
    align-items: center;
    align-content: center;
}

.MainPage {

    &-column {
        @extend %flex-container;
        flex-flow: column nowrap;
        height: 100%;
    }

    &-row {
        @extend %flex-container;
        flex-flow: row nowrap;
        padding: 20px;
        gap: 15px
    }

    &-grow {
        flex-grow: 1;
        @extend %flex-container;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 25px;
    }

    &-player-title {
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-icon {
        height: 20px;
        width: 20px;
        rotate: (90deg);
    }
}