%flex-container {
    display: flex;
    margin: 0 auto;
}

.MainPage {
    &-column {
        @extend %flex-container;
        overflow: auto;
        flex-flow: column nowrap;
        height: 100%;

        
    }

    &-row {
        @extend %flex-container;
        flex-flow: row nowrap;
        gap: 15px;
        padding: 20px
    }

    &-grow {
        @extend %flex-container;
        flex-flow: column nowrap;
        flex-grow: 1;
        gap: 25px;
        justify-content: center;

    }

    &-player-title {
        font-size: 32px;
        font-weight: 400;
        font-style: normal;
        line-height: normal;
        text-align: center;
    }

    &-icon {
        width: 20px;
        height: 20px;

        svg {
            vertical-align: middle;
        }
    }
}

@media (width <=400px) {
    .MainPage {
        &-grow {
            gap: 0;
            width: 100%;
            padding: 50px 0;
        }
    }
}