.Cell {
    &-block {
        cursor: pointer;

        overflow: hidden;
        display: flex;
        place-content: center center;
        align-items: center;

        width: 80px;
        height: 80px;

        background: var(--background-cell);
        border-radius: 25px;
    }

    &-img {
        width: 100%;
        padding: 13px 10px 10px;

        div {
            display: flex;
            place-content: center center;
            align-items: center;
        }
    }
}

@media (width <= 700px) {
    .Cell {
        &-block {
            width: 70px;
            height: 70px;
            border: 1px solid var(--border-cell);
            border-radius: 20px;
        }

        &-img {
            padding: 8px 5px 5px;
        }
    }
}

@media (width <= 400px) {
    .Cell {
        &-block {
            width: 100%;
            height: 100%;
        }

        &-img {
            svg {
                width: inherit;
                height: inherit;
            }
        }
    }
}