.DefaultSetting {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;

    &-btn {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        color: var(--text-primary);

        background: var(--background);
        border: 1px solid var(--border-cell);
        border-radius: 15px;
    }


    &-arrow {
        svg {
            width: 20px;
            height: 20px;
        }
    }
}