.DefaultSetting {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;

    &-btn {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        color: var(--text-primary);

        background: var(--background);
        border-radius: 15px;

        &:hover {
            color: var(--text-secondary);
            background-color: var(--button-blue);
            transition: 1s;
        }
    }


    &-arrow {
        svg {
            width: 20px;
            height: 20px;
        }
    }
}