.DefaultSetting {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;

    &-btn {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        color: var(--text-primary);

        background: var(--background);
        border: 1px solid var(--background);

        border-radius: 15px;

        position: relative;
        overflow-x: hidden;
    }

    &-flare {
        position: absolute;
        top: 0;
        height: 100%;
        width: 45px;
        transform: skewX(-45deg);
        animation: flareAnimation;
        left: -150%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
        animation: flareAnimation 4s infinite linear;
    }


    &-arrow {
        svg {
            width: 20px;
            height: 20px;
        }
    }
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }

    100% {
        left: 150%;
    }
}