.color-player-0 {
    color: var(--color-player-0);
}

.color-player-1 {
    color: var(--color-player-1);
}

.color-player-2 {
    color: var(--color-player-2);
}

.color-player-3 {
    color: var(--color-player-3);
}


.background-player-0 {
    background: var(--background-player-0);
    background-position: center;
    background-size: 100% 100%;
}

.background-player-1 {
    background: var(--background-player-1);
    background-position: center;
    background-size: 100% 100%;

}

.background-player-2 {
    background: var(--background-player-2);
    background-position: center;
    background-size: 100% 100%;

}

.background-player-3 {
    background: var(--background-player-3);
    background-position: center;
    background-size: 100% 100%;

}