.Field {
    &-flex {
        display: grid;
        gap: 10px;
    }

    &-error {
        width: max-content;
        height: max-content;
        height: 25px;
        margin: 0 auto;

        color: var(--text-primary);
        word-wrap: break-word;
    }
}

@media (width <= 700px) {
    .Field {
        &-flex {
            gap: 5px;

        }
    }
}

@media (width <= 400px) {
    .Field {
        &-flex {
            width: 100%;
            height: 100%;
            padding: 50px 20px;
        }
    }
}