.TableCell {
    &-cell {
        width: 100%;
        padding: 10px 0;

        color: var(--text-primary);
        text-align: center;

        border-radius: 10px;

        &_border {
            background-color: var(--background-table-cell);
        }
    }
}