.TableCell {

    &-row {
        display: flex;
        flex-flow: row nowrap;
        width: 600px;
    }

    &-cell {
        width: 50%;
        padding: 10px 0;
        flex-grow: 1;

        color: var(--text-primary);
        text-align: center;

        border-radius: 10px;

        &_border {
            background-color: var(--background-table-cell);
        }
    }
}

@media (width <=700px) {
    .TableCell {

        &-row {
            width: 250px;
            flex-flow: column nowrap;
        }

        &-cell {
            width: 100%;
        }
    }
}