.ButtonRowGroup {
    display: flex;
    flex-flow: row nowrap;

    gap: 25px;

    &-button-red {
        @extend %button-shared;

        background: var(--button-red);
        box-shadow: var(--button-shadow);

        &:hover {
            background: var(--button-red-hover);
            transition: 1s;
        }
    }

    &-button-blue {
        @extend %button-shared;

        background: var(--button-blue);
        box-shadow: var(--button-shadow);

        &:hover {
            background: var(--button-blue-hover);
            transition: 1s;
        }
    }
}

%button-shared {
    // padding: 10px 90px;
    border: none;
    border-radius: 15px;
    color: var(--text-secondary);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    flex-grow: 1;
    text-align: center;
}