%arrow {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 15px;

    &:hover {
        cursor: pointer;
    }
}

.ListWithArrows {
    &-slider {
        position: relative;
        overflow: hidden;

        &-list {
            display: flex;
            width: 100%;
            height: 100%;
            transition: transform 0.5s ease-in-out;
        }

        &-slide {
            position: relative;
            flex: 1 0 100%;
            font-size: 20px;
            text-align: center;
        }
    }

    &-arrows {
        position: absolute;
        z-index: 1;

        display: flex;
        justify-content: space-between;

        width: 100%;
        height: 100%;

        font-size: 20px;

        &-arrow {
            &-left {
                @extend %arrow;
                transform: rotate(90deg);
                background-image: url("./arrow.png");
                background-repeat: no-repeat;
                background-size: contain;
            }

            &-right {
                @extend %arrow;
                transform: rotate(-90deg);
                background-image: url("./arrow.png");
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}