%arrow {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 15px;

    &:hover {
        cursor: pointer;
    }
}

.ListWithArrows {
    &-slider {
        overflow: hidden;
        position: relative;

        &-list {
            display: flex;
            height: 100%;
            transition: transform 0.5s ease-in-out;
            width: 100%;
        }

        &-slide {
            flex: 1 0 100%;
            text-align: center;
            position: relative;
            font-size: 20px;
        }
    }

    &-arrows {
        display: flex;
        font-size: 20px;
        justify-content: space-between;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1;

        &-arrow {
            &-left {
                @extend %arrow;

                background-image: url("./arrow.png");
                background-repeat: no-repeat;
                background-size: contain;
                transform: rotate(90deg);
            }

            &-right {
                @extend %arrow;

                background-image: url("./arrow.png");
                background-repeat: no-repeat;
                background-size: contain;
                transform: rotate(-90deg);
            }
        }
    }
}